<h1>Editing Transaction</h1>

<%= form_with(model: @transaction, html: {id: "edit_transactions_form"}) do |form| %>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
  
        <ul>
          <% @transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :from_amount %>
      <%= form.text_field :from_amount %>
    </div><br>
  
    <div class="field">
      <%= form.label :from_currency %>
      <%= form.collection_select :from_currency, Currency.order(:id),:id,:name, include_blank: true %>
    </div><br>
  
    <div class="field">
      <%= form.label :to_amount %>
      <%= form.text_field :to_amount %>
    </div><br>
  
    <div class="field">
      <%= form.label :to_currency %>
      <%= form.collection_select :to_currency, Currency.order(:id),:id,:name, include_blank: true %>
    </div><br>

    <div class="field">
      <%= form.label :status %>
      <select name="status">
        <option name="pending" value=1">pending</option>
        <option name="completed" value=2">completed</option>
        <option name="rejected" value=3">rejected</option>
      </select>
    </div><br>
  
    <div class="actions">
      <%= form.button :submit%>
    </div>
  <% end %>
  
<%= link_to 'Show', transactions_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
